.transition:hover {
  transform: scale(1.5);
}

.transition:active {
  animation: grow-size;
  animation-duration: 0.5s;
}

@keyframes grow-size {
  0% {
    font-size: 16px;
  }
  100% {
    font-size: 40px;
  }
}
